<h1>${title}</h1>
<form action="/" method="POST">
    <ul>
        ${languageData.map(language => {
        return `
        <li class="name">
            I am ${language.rating} with
            <label>
                ${language.name}
                <select name="${language.name}">
                    <option value="1">Awesome</option>
                    <option value="2">Great</option>
                    <option value="3">Good</option>
                    <option value="4">Okay</option>
                    <option value="5">Poor</option>
                    <option value="6">Unranked</option>
                </select>
            </label>
        </li>`
        }).join('')}
    </ul>
    <button type="submit">Upate Rankings</button>
</form>